@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap');

@font-face{
    font-family: "digital-7";
    src: url("../fonts/digital-7.ttf");
}

#inicio{
    -fx-background-image: url("../images/fondoInicial.jpeg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
    -fx-padding: 30px;
    -fx-spacing: 40px;
    -fx-alignment: center;
}

#titulo{
    -fx-font-family: "Bangers", regular;
    -fx-text-fill: rgb(0,91,153);
    -fx-fill: rgb(0,91,153);
    -fx-font-size: 60px;
}

#info{
    -fx-font-family: "Skranji", regular;
    -fx-text-fill: rgb(0,91,153);
    -fx-font-size: 25px;
}

#ventanasAyuda{
    -fx-alignment: center;
    -fx-padding: 15px;
    -fx-spacing: 15px;
}

#ventanasAyuda .label{
    -fx-font-family: "Skranji", regular;
    -fx-text-fill: rgb(0,91,153);
    -fx-font-size: 15px;
    -fx-spacing: 15px;
    -fx-text-alignment: center;
}

#estiloJuegoGeneral, #layoutInfoJugador .label{
    -fx-font-family: "Skranji", regular;
    -fx-text-fill: black;
    -fx-font-size: 20px;
}

#estiloPregunta{
    -fx-font-family: "Baloo Tamma 2", cursive;
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-text-alignment: center;
}

#estiloOpciones{
    -fx-spacing: 16px;
    -fx-alignment: center;
}

#estiloOpciones .radio-button, #estiloOpciones .label, #estiloOpcionesOrderedYGroupChoice .label{
    -fx-font-family: "Baloo Tamma 2", cursive;
    -fx-background-color: rgba(196, 216, 226, 0.5);;
    -fx-text-fill: black;
    -fx-font-size: 15px;
}

#estiloOpcionesOrderedYGroupChoice{
    -fx-spacing: 7px;
    -fx-alignment: center;
}

#estiloOpcionesOrderedYGroupChoice .text-field{
    -fx-font-family: "Baloo Tamma 2", cursive;
    -fx-background-color: rgba(196, 216, 226, 0.5);;
    -fx-text-fill: black;
    -fx-max-width: 40px;
}

#contenedorJugadores{
    -fx-spacing: 80px;
    -fx-alignment: center;
}

#layoutPrincipal{
    -fx-background-image: url("../images/fondoPregunta.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-spacing: 10px;
    -fx-alignment: center;
}

#fondoResultados{
    -fx-background-image: url("../images/fondoFinal.jpeg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-spacing: 40px;
    -fx-alignment: center;
    -fx-padding: 30px;
}

.button{
    -fx-font-family: "Skranji", regular;
    -fx-font-size: 25px;
}

.button:hover{
    -fx-background-color: #0B7A97;
}

#botonBonus{
    -fx-font-family: "Skranji", regular;
    -fx-font-size: 15px;
}

#botonAyuda{
    -fx-graphic: url("../images/iconoAyuda.png");
    -fx-background-color: Transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#labelTiempo{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-family: "digital-7";
    -fx-font-size: 50px;
    -fx-border-radius: 5px;
    -fx-border-color: white;
    -fx-background-radius: 5px;
    -fx-label-padding: 8px;
    -fx-min-width: 50px;
    -fx-alignment: top-right;
}

#layoutInfoJugador{
    -fx-spacing: 15px;
    -fx-alignment: top-left;
}

#layoutPregunta{
    -fx-spacing: 30px;
    -fx-alignment: center;
}

#header{
    -fx-spacing: 350px;
    -fx-padding: 20px;
    -fx-alignment: center;
}

#estiloContenedoresConAyuda{
    -fx-alignment: center;
}

